		.bagatas{
			margin: 1px 2px2 px 2px;
			border-radius: 4px;
			border-bottom : 1px solid black;
			height: 40px;
			background-color: #AFEEEE;
  		}
  			

  	
  		
  		#home:hover {
			text-decoration-line: none;
			font-weight: bold;

  		}
  		li {list-style: none}

  		.daftar {
			width: 40%; 
			margin-left: 30%;
			margin-right: 30%;

		}
		.form1{
			width: 40%;
			margin-left: 30%;
			margin-right: 30%;
		}
		#home{
			margin: 3.5px 7px 2px 7px;
			font-size: 20px;
			color  : black;
			float: left;
		}
		
		.checkbox{
			margin: 10px 0px 20px 0px;
			margin-left: 30%;

		}
		.navbar-inverse{
			background-color: #AFEEEE;
			border-radius: 4px;
			
			border-bottom : 1px solid black;
		}
		#login {
			font-size: 14px;
			margin-top: 6px;
			margin-right: 10px;
			margin-bottom: 2px;
			height: 28px;
			border: none;
			float: right;	
			padding-top: 1px;
			color: white;
			text-align: center;
			background-color: grey;
		}
		#signup {
			font-size: 14px;
			margin-top: 6px;
			margin-bottom: 2px;
			height: 28px;
			border: none;
			float: right;	
			padding-top: 1px;
			color: white;
			text-align: center;
			background-color: grey;
		}